In [2]:
import pandas as pd
import numpy as np
import time

In [4]:
_1m=pd.read_csv("./data/%s_Min_240.csv" %'1')
_3m=pd.read_csv("./data/%s_Min_240.csv" %'3')
_5m=pd.read_csv("./data/%s_Min_240.csv" %'5')

In [5]:
total_price_data=_1m

In [6]:
total_price_data=total_price_data.append(_3m,ignore_index=True)
total_price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93228 entries, 0 to 93227
Data columns (total 5 columns):
Date     93228 non-null object
Open     93228 non-null float64
High     93228 non-null float64
Low      93228 non-null float64
Close    93228 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.6+ MB

In [5]:
total_price_data=total_price_data.append(_5m,ignore_index=True)
total_price_data

                    Date     Open     High      Low    Close
0       11/30/2018 16:14  2760.16  2760.16  2760.16  2760.16
1       11/30/2018 16:13  2760.16  2760.16  2760.16  2760.16
2       11/30/2018 16:12  2759.99  2760.16  2759.99  2760.16
3       11/30/2018 16:11  2759.99  2759.99  2759.99  2759.99
4       11/30/2018 16:10  2759.99  2759.99  2759.99  2759.99
5       11/30/2018 16:09  2759.99  2759.99  2759.99  2759.99
6       11/30/2018 16:08  2759.99  2759.99  2759.99  2759.99
7       11/30/2018 16:07  2759.98  2759.99  2759.98  2759.99
8       11/30/2018 16:06  2759.85  2759.98  2759.85  2759.98
9       11/30/2018 16:05  2759.83  2759.85  2759.83  2759.85
10      11/30/2018 16:04  2759.78  2759.83  2759.78  2759.83
11      11/30/2018 16:03  2759.66  2759.77  2759.66  2759.77
12      11/30/2018 16:02  2759.41  2759.66  2759.41  2759.66
13      11/30/2018 16:01  2759.14  2759.41  2759.14  2759.41
14      11/30/2018 16:00  2758.88  2759.14  2758.88  2759.14
15      11/30/2018 15:59  2757.05  2759.90  2756.61  2759.62
16      11/30/2018 15:58  2760.38  2760.47  2756.44  2757.24
17      11/30/2018 15:57  2758.27  2760.88  2758.27  2760.38
18      11/30/2018 15:56  2758.39  2759.77  2758.15  2758.54
19      11/30/2018 15:55  2755.16  2758.37  2755.16  2758.37
20      11/30/2018 15:54  2754.24  2754.38  2753.66  2754.25
21      11/30/2018 15:53  2753.13  2754.18  2753.03  2754.18
22      11/30/2018 15:52  2752.96  2753.34  2752.81  2753.12
23      11/30/2018 15:51  2755.07  2755.08  2752.56  2752.95
24      11/30/2018 15:50  2755.17  2755.67  2754.70  2755.13
25      11/30/2018 15:49  2755.58  2755.63  2754.64  2755.18
26      11/30/2018 15:48  2754.59  2755.52  2754.59  2755.52
27      11/30/2018 15:47  2756.15  2756.17  2754.33  2754.55
28      11/30/2018 15:46  2756.32  2756.49  2756.13  2756.16
29      11/30/2018 15:45  2757.13  2757.13  2756.08  2756.31
...                  ...      ...      ...      ...      ...
112651  12/18/2017 11:55  2693.82  2694.19  2693.65  2693.89
112652  12/18/2017 11:50  2693.16  2694.41  2693.08  2693.83
112653  12/18/2017 11:45  2692.69  2693.17  2692.68  2693.17
112654  12/18/2017 11:40  2692.70  2692.73  2692.09  2692.66
112655  12/18/2017 11:35  2692.10  2692.69  2691.82  2692.69
112656  12/18/2017 11:30  2691.38  2692.31  2690.94  2692.12
112657  12/18/2017 11:25  2691.81  2692.38  2691.10  2691.40
112658  12/18/2017 11:20  2691.49  2691.94  2691.14  2691.80
112659  12/18/2017 11:15  2692.22  2692.24  2690.59  2691.51
112660  12/18/2017 11:10  2691.79  2692.21  2691.40  2692.19
112661  12/18/2017 11:05  2691.45  2691.91  2691.20  2691.80
112662  12/18/2017 11:00  2692.08  2692.08  2690.95  2691.45
112663  12/18/2017 10:55  2692.25  2692.76  2692.07  2692.12
112664  12/18/2017 10:50  2692.29  2692.40  2691.71  2692.23
112665  12/18/2017 10:45  2692.30  2692.56  2691.69  2692.30
112666  12/18/2017 10:40  2691.53  2692.31  2691.40  2692.27
112667  12/18/2017 10:35  2692.20  2692.43  2690.96  2691.52
112668  12/18/2017 10:30  2692.66  2692.70  2691.43  2692.28
112669  12/18/2017 10:25  2692.75  2693.35  2692.41  2692.66
112670  12/18/2017 10:20  2693.36  2693.36  2692.65  2692.71
112671  12/18/2017 10:15  2693.65  2693.73  2692.89  2693.34
112672  12/18/2017 10:10  2693.14  2694.21  2692.72  2693.65
112673  12/18/2017 10:05  2693.20  2694.41  2692.82  2693.20
112674  12/18/2017 10:00  2693.45  2693.89  2692.89  2693.17
112675   12/18/2017 9:55  2693.16  2693.48  2692.24  2693.43
112676   12/18/2017 9:50  2693.70  2693.83  2692.98  2693.13
112677   12/18/2017 9:45  2694.01  2694.71  2693.62  2693.70
112678   12/18/2017 9:40  2694.48  2694.97  2693.72  2693.85
112679   12/18/2017 9:35  2691.78  2694.42  2691.78  2694.33
112680   12/18/2017 9:30  2685.92  2692.12  2685.92  2691.67

[112681 rows x 5 columns]

In [6]:
df_close=total_price_data[['Date','Close']]
df_close['Date']=df_close['Date'].apply(lambda x:time.strptime(x,"%m/%d/%Y %H:%M"))
df_close=df_close.sort_values('Date')
#df_close['Pct_chg']=df_close['Close'].pct_change(1)
#df_close['Tag']=df_close['Pct_chg'].apply(lambda x:tag(x))
df_close['Time_int']=df_close['Date'].apply(lambda x:time.mktime(x))
df_close

/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                         Date    Close      Time_int
112680   (2017, 12, 18, 9, 30, 0, 0, 352, -1)  2691.67  1.513607e+09
93227    (2017, 12, 18, 9, 30, 0, 0, 352, -1)  2691.39  1.513607e+09
93226    (2017, 12, 18, 9, 33, 0, 0, 352, -1)  2692.97  1.513608e+09
112679   (2017, 12, 18, 9, 35, 0, 0, 352, -1)  2694.33  1.513608e+09
93225    (2017, 12, 18, 9, 36, 0, 0, 352, -1)  2693.74  1.513608e+09
93224    (2017, 12, 18, 9, 39, 0, 0, 352, -1)  2693.95  1.513608e+09
112678   (2017, 12, 18, 9, 40, 0, 0, 352, -1)  2693.85  1.513608e+09
93223    (2017, 12, 18, 9, 42, 0, 0, 352, -1)  2693.85  1.513608e+09
112677   (2017, 12, 18, 9, 45, 0, 0, 352, -1)  2693.70  1.513608e+09
93222    (2017, 12, 18, 9, 45, 0, 0, 352, -1)  2694.22  1.513608e+09
93221    (2017, 12, 18, 9, 48, 0, 0, 352, -1)  2693.28  1.513608e+09
112676   (2017, 12, 18, 9, 50, 0, 0, 352, -1)  2693.13  1.513609e+09
93220    (2017, 12, 18, 9, 51, 0, 0, 352, -1)  2693.70  1.513609e+09
93219    (2017, 12, 18, 9, 54, 0, 0, 352, -1)  2693.09  1.513609e+09
112675   (2017, 12, 18, 9, 55, 0, 0, 352, -1)  2693.43  1.513609e+09
93218    (2017, 12, 18, 9, 57, 0, 0, 352, -1)  2693.43  1.513609e+09
112674   (2017, 12, 18, 10, 0, 0, 0, 352, -1)  2693.17  1.513609e+09
93217    (2017, 12, 18, 10, 0, 0, 0, 352, -1)  2693.87  1.513609e+09
93216    (2017, 12, 18, 10, 3, 0, 0, 352, -1)  2693.73  1.513609e+09
112673   (2017, 12, 18, 10, 5, 0, 0, 352, -1)  2693.20  1.513610e+09
93215    (2017, 12, 18, 10, 6, 0, 0, 352, -1)  2693.06  1.513610e+09
93214    (2017, 12, 18, 10, 9, 0, 0, 352, -1)  2692.86  1.513610e+09
112672  (2017, 12, 18, 10, 10, 0, 0, 352, -1)  2693.65  1.513610e+09
93213   (2017, 12, 18, 10, 12, 0, 0, 352, -1)  2693.65  1.513610e+09
112671  (2017, 12, 18, 10, 15, 0, 0, 352, -1)  2693.34  1.513610e+09
93212   (2017, 12, 18, 10, 15, 0, 0, 352, -1)  2693.09  1.513610e+09
93211   (2017, 12, 18, 10, 18, 0, 0, 352, -1)  2693.12  1.513610e+09
112670  (2017, 12, 18, 10, 20, 0, 0, 352, -1)  2692.71  1.513610e+09
93210   (2017, 12, 18, 10, 21, 0, 0, 352, -1)  2693.10  1.513610e+09
93209   (2017, 12, 18, 10, 24, 0, 0, 352, -1)  2692.60  1.513611e+09
...                                       ...      ...           ...
19      (2018, 11, 30, 15, 55, 0, 4, 334, -1)  2758.37  1.543611e+09
93231   (2018, 11, 30, 15, 55, 0, 4, 334, -1)  2759.62  1.543611e+09
18      (2018, 11, 30, 15, 56, 0, 4, 334, -1)  2758.54  1.543611e+09
60812   (2018, 11, 30, 15, 57, 0, 4, 334, -1)  2759.62  1.543611e+09
17      (2018, 11, 30, 15, 57, 0, 4, 334, -1)  2760.38  1.543611e+09
16      (2018, 11, 30, 15, 58, 0, 4, 334, -1)  2757.24  1.543611e+09
15      (2018, 11, 30, 15, 59, 0, 4, 334, -1)  2759.62  1.543612e+09
93230    (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.83  1.543612e+09
60811    (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.66  1.543612e+09
14       (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.14  1.543612e+09
13       (2018, 11, 30, 16, 1, 0, 4, 334, -1)  2759.41  1.543612e+09
12       (2018, 11, 30, 16, 2, 0, 4, 334, -1)  2759.66  1.543612e+09
60810    (2018, 11, 30, 16, 3, 0, 4, 334, -1)  2759.85  1.543612e+09
11       (2018, 11, 30, 16, 3, 0, 4, 334, -1)  2759.77  1.543612e+09
10       (2018, 11, 30, 16, 4, 0, 4, 334, -1)  2759.83  1.543612e+09
9        (2018, 11, 30, 16, 5, 0, 4, 334, -1)  2759.85  1.543612e+09
93229    (2018, 11, 30, 16, 5, 0, 4, 334, -1)  2759.99  1.543612e+09
60809    (2018, 11, 30, 16, 6, 0, 4, 334, -1)  2759.99  1.543612e+09
8        (2018, 11, 30, 16, 6, 0, 4, 334, -1)  2759.98  1.543612e+09
7        (2018, 11, 30, 16, 7, 0, 4, 334, -1)  2759.99  1.543612e+09
6        (2018, 11, 30, 16, 8, 0, 4, 334, -1)  2759.99  1.543612e+09
60808    (2018, 11, 30, 16, 9, 0, 4, 334, -1)  2759.99  1.543612e+09
5        (2018, 11, 30, 16, 9, 0, 4, 334, -1)  2759.99  1.543612e+09
4       (2018, 11, 30, 16, 10, 0, 4, 334, -1)  2759.99  1.543612e+09
93228   (2018, 11, 30, 16, 10, 0, 4, 334, -1)  2760.16  1.543612e+09
3       (2018, 11, 30, 16, 11, 0, 4, 334, -1)  2759.99  1.543612e+09
60807   (2018, 11, 30, 16, 12, 0, 4, 334, -1)  2760.16  1.543612e+09
2       (2018, 11, 30, 16, 12, 0, 4, 334, -1)  2760.16  1.543612e+09
1       (2018, 11, 30, 16, 13, 0, 4, 334, -1)  2760.16  1.543612e+09
0       (2018, 11, 30, 16, 14, 0, 4, 334, -1)  2760.16  1.543612e+09

[112681 rows x 3 columns]

In [7]:
df_close.drop_duplicates(subset=['Time_int'], keep='first')

                                         Date    Close      Time_int
112680   (2017, 12, 18, 9, 30, 0, 0, 352, -1)  2691.67  1.513607e+09
93226    (2017, 12, 18, 9, 33, 0, 0, 352, -1)  2692.97  1.513608e+09
112679   (2017, 12, 18, 9, 35, 0, 0, 352, -1)  2694.33  1.513608e+09
93225    (2017, 12, 18, 9, 36, 0, 0, 352, -1)  2693.74  1.513608e+09
93224    (2017, 12, 18, 9, 39, 0, 0, 352, -1)  2693.95  1.513608e+09
112678   (2017, 12, 18, 9, 40, 0, 0, 352, -1)  2693.85  1.513608e+09
93223    (2017, 12, 18, 9, 42, 0, 0, 352, -1)  2693.85  1.513608e+09
112677   (2017, 12, 18, 9, 45, 0, 0, 352, -1)  2693.70  1.513608e+09
93221    (2017, 12, 18, 9, 48, 0, 0, 352, -1)  2693.28  1.513608e+09
112676   (2017, 12, 18, 9, 50, 0, 0, 352, -1)  2693.13  1.513609e+09
93220    (2017, 12, 18, 9, 51, 0, 0, 352, -1)  2693.70  1.513609e+09
93219    (2017, 12, 18, 9, 54, 0, 0, 352, -1)  2693.09  1.513609e+09
112675   (2017, 12, 18, 9, 55, 0, 0, 352, -1)  2693.43  1.513609e+09
93218    (2017, 12, 18, 9, 57, 0, 0, 352, -1)  2693.43  1.513609e+09
112674   (2017, 12, 18, 10, 0, 0, 0, 352, -1)  2693.17  1.513609e+09
93216    (2017, 12, 18, 10, 3, 0, 0, 352, -1)  2693.73  1.513609e+09
112673   (2017, 12, 18, 10, 5, 0, 0, 352, -1)  2693.20  1.513610e+09
93215    (2017, 12, 18, 10, 6, 0, 0, 352, -1)  2693.06  1.513610e+09
93214    (2017, 12, 18, 10, 9, 0, 0, 352, -1)  2692.86  1.513610e+09
112672  (2017, 12, 18, 10, 10, 0, 0, 352, -1)  2693.65  1.513610e+09
93213   (2017, 12, 18, 10, 12, 0, 0, 352, -1)  2693.65  1.513610e+09
112671  (2017, 12, 18, 10, 15, 0, 0, 352, -1)  2693.34  1.513610e+09
93211   (2017, 12, 18, 10, 18, 0, 0, 352, -1)  2693.12  1.513610e+09
112670  (2017, 12, 18, 10, 20, 0, 0, 352, -1)  2692.71  1.513610e+09
93210   (2017, 12, 18, 10, 21, 0, 0, 352, -1)  2693.10  1.513610e+09
93209   (2017, 12, 18, 10, 24, 0, 0, 352, -1)  2692.60  1.513611e+09
112669  (2017, 12, 18, 10, 25, 0, 0, 352, -1)  2692.66  1.513611e+09
93208   (2017, 12, 18, 10, 27, 0, 0, 352, -1)  2692.66  1.513611e+09
93207   (2017, 12, 18, 10, 30, 0, 0, 352, -1)  2692.27  1.513611e+09
93206   (2017, 12, 18, 10, 33, 0, 0, 352, -1)  2692.07  1.513611e+09
...                                       ...      ...           ...
60816   (2018, 11, 30, 15, 45, 0, 4, 334, -1)  2754.55  1.543611e+09
28      (2018, 11, 30, 15, 46, 0, 4, 334, -1)  2756.16  1.543611e+09
27      (2018, 11, 30, 15, 47, 0, 4, 334, -1)  2754.55  1.543611e+09
60815   (2018, 11, 30, 15, 48, 0, 4, 334, -1)  2755.13  1.543611e+09
25      (2018, 11, 30, 15, 49, 0, 4, 334, -1)  2755.18  1.543611e+09
24      (2018, 11, 30, 15, 50, 0, 4, 334, -1)  2755.13  1.543611e+09
60814   (2018, 11, 30, 15, 51, 0, 4, 334, -1)  2754.18  1.543611e+09
22      (2018, 11, 30, 15, 52, 0, 4, 334, -1)  2753.12  1.543611e+09
21      (2018, 11, 30, 15, 53, 0, 4, 334, -1)  2754.18  1.543611e+09
60813   (2018, 11, 30, 15, 54, 0, 4, 334, -1)  2758.54  1.543611e+09
19      (2018, 11, 30, 15, 55, 0, 4, 334, -1)  2758.37  1.543611e+09
18      (2018, 11, 30, 15, 56, 0, 4, 334, -1)  2758.54  1.543611e+09
60812   (2018, 11, 30, 15, 57, 0, 4, 334, -1)  2759.62  1.543611e+09
16      (2018, 11, 30, 15, 58, 0, 4, 334, -1)  2757.24  1.543611e+09
15      (2018, 11, 30, 15, 59, 0, 4, 334, -1)  2759.62  1.543612e+09
93230    (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.83  1.543612e+09
13       (2018, 11, 30, 16, 1, 0, 4, 334, -1)  2759.41  1.543612e+09
12       (2018, 11, 30, 16, 2, 0, 4, 334, -1)  2759.66  1.543612e+09
60810    (2018, 11, 30, 16, 3, 0, 4, 334, -1)  2759.85  1.543612e+09
10       (2018, 11, 30, 16, 4, 0, 4, 334, -1)  2759.83  1.543612e+09
9        (2018, 11, 30, 16, 5, 0, 4, 334, -1)  2759.85  1.543612e+09
60809    (2018, 11, 30, 16, 6, 0, 4, 334, -1)  2759.99  1.543612e+09
7        (2018, 11, 30, 16, 7, 0, 4, 334, -1)  2759.99  1.543612e+09
6        (2018, 11, 30, 16, 8, 0, 4, 334, -1)  2759.99  1.543612e+09
60808    (2018, 11, 30, 16, 9, 0, 4, 334, -1)  2759.99  1.543612e+09
4       (2018, 11, 30, 16, 10, 0, 4, 334, -1)  2759.99  1.543612e+09
3       (2018, 11, 30, 16, 11, 0, 4, 334, -1)  2759.99  1.543612e+09
60807   (2018, 11, 30, 16, 12, 0, 4, 334, -1)  2760.16  1.543612e+09
1       (2018, 11, 30, 16, 13, 0, 4, 334, -1)  2760.16  1.543612e+09
0       (2018, 11, 30, 16, 14, 0, 4, 334, -1)  2760.16  1.543612e+09

[77820 rows x 3 columns]

In [8]:
df_close.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112681 entries, 112680 to 0
Data columns (total 3 columns):
Date        112681 non-null object
Close       112681 non-null float64
Time_int    112681 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.4+ MB

In [9]:
df_close_new=df_close.sort_values('Time_int',ascending=False)

In [10]:
df_close_new=df_close_new.reset_index(drop=True)
df_close_new

                                         Date    Close      Time_int
0       (2018, 11, 30, 16, 14, 0, 4, 334, -1)  2760.16  1.543612e+09
1       (2018, 11, 30, 16, 13, 0, 4, 334, -1)  2760.16  1.543612e+09
2       (2018, 11, 30, 16, 12, 0, 4, 334, -1)  2760.16  1.543612e+09
3       (2018, 11, 30, 16, 12, 0, 4, 334, -1)  2760.16  1.543612e+09
4       (2018, 11, 30, 16, 11, 0, 4, 334, -1)  2759.99  1.543612e+09
5       (2018, 11, 30, 16, 10, 0, 4, 334, -1)  2760.16  1.543612e+09
6       (2018, 11, 30, 16, 10, 0, 4, 334, -1)  2759.99  1.543612e+09
7        (2018, 11, 30, 16, 9, 0, 4, 334, -1)  2759.99  1.543612e+09
8        (2018, 11, 30, 16, 9, 0, 4, 334, -1)  2759.99  1.543612e+09
9        (2018, 11, 30, 16, 8, 0, 4, 334, -1)  2759.99  1.543612e+09
10       (2018, 11, 30, 16, 7, 0, 4, 334, -1)  2759.99  1.543612e+09
11       (2018, 11, 30, 16, 6, 0, 4, 334, -1)  2759.98  1.543612e+09
12       (2018, 11, 30, 16, 6, 0, 4, 334, -1)  2759.99  1.543612e+09
13       (2018, 11, 30, 16, 5, 0, 4, 334, -1)  2759.99  1.543612e+09
14       (2018, 11, 30, 16, 5, 0, 4, 334, -1)  2759.85  1.543612e+09
15       (2018, 11, 30, 16, 4, 0, 4, 334, -1)  2759.83  1.543612e+09
16       (2018, 11, 30, 16, 3, 0, 4, 334, -1)  2759.77  1.543612e+09
17       (2018, 11, 30, 16, 3, 0, 4, 334, -1)  2759.85  1.543612e+09
18       (2018, 11, 30, 16, 2, 0, 4, 334, -1)  2759.66  1.543612e+09
19       (2018, 11, 30, 16, 1, 0, 4, 334, -1)  2759.41  1.543612e+09
20       (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.14  1.543612e+09
21       (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.66  1.543612e+09
22       (2018, 11, 30, 16, 0, 0, 4, 334, -1)  2759.83  1.543612e+09
23      (2018, 11, 30, 15, 59, 0, 4, 334, -1)  2759.62  1.543612e+09
24      (2018, 11, 30, 15, 58, 0, 4, 334, -1)  2757.24  1.543611e+09
25      (2018, 11, 30, 15, 57, 0, 4, 334, -1)  2760.38  1.543611e+09
26      (2018, 11, 30, 15, 57, 0, 4, 334, -1)  2759.62  1.543611e+09
27      (2018, 11, 30, 15, 56, 0, 4, 334, -1)  2758.54  1.543611e+09
28      (2018, 11, 30, 15, 55, 0, 4, 334, -1)  2759.62  1.543611e+09
29      (2018, 11, 30, 15, 55, 0, 4, 334, -1)  2758.37  1.543611e+09
...                                       ...      ...           ...
112651  (2017, 12, 18, 10, 24, 0, 0, 352, -1)  2692.60  1.513611e+09
112652  (2017, 12, 18, 10, 21, 0, 0, 352, -1)  2693.10  1.513610e+09
112653  (2017, 12, 18, 10, 20, 0, 0, 352, -1)  2692.71  1.513610e+09
112654  (2017, 12, 18, 10, 18, 0, 0, 352, -1)  2693.12  1.513610e+09
112655  (2017, 12, 18, 10, 15, 0, 0, 352, -1)  2693.34  1.513610e+09
112656  (2017, 12, 18, 10, 15, 0, 0, 352, -1)  2693.09  1.513610e+09
112657  (2017, 12, 18, 10, 12, 0, 0, 352, -1)  2693.65  1.513610e+09
112658  (2017, 12, 18, 10, 10, 0, 0, 352, -1)  2693.65  1.513610e+09
112659   (2017, 12, 18, 10, 9, 0, 0, 352, -1)  2692.86  1.513610e+09
112660   (2017, 12, 18, 10, 6, 0, 0, 352, -1)  2693.06  1.513610e+09
112661   (2017, 12, 18, 10, 5, 0, 0, 352, -1)  2693.20  1.513610e+09
112662   (2017, 12, 18, 10, 3, 0, 0, 352, -1)  2693.73  1.513609e+09
112663   (2017, 12, 18, 10, 0, 0, 0, 352, -1)  2693.17  1.513609e+09
112664   (2017, 12, 18, 10, 0, 0, 0, 352, -1)  2693.87  1.513609e+09
112665   (2017, 12, 18, 9, 57, 0, 0, 352, -1)  2693.43  1.513609e+09
112666   (2017, 12, 18, 9, 55, 0, 0, 352, -1)  2693.43  1.513609e+09
112667   (2017, 12, 18, 9, 54, 0, 0, 352, -1)  2693.09  1.513609e+09
112668   (2017, 12, 18, 9, 51, 0, 0, 352, -1)  2693.70  1.513609e+09
112669   (2017, 12, 18, 9, 50, 0, 0, 352, -1)  2693.13  1.513609e+09
112670   (2017, 12, 18, 9, 48, 0, 0, 352, -1)  2693.28  1.513608e+09
112671   (2017, 12, 18, 9, 45, 0, 0, 352, -1)  2693.70  1.513608e+09
112672   (2017, 12, 18, 9, 45, 0, 0, 352, -1)  2694.22  1.513608e+09
112673   (2017, 12, 18, 9, 42, 0, 0, 352, -1)  2693.85  1.513608e+09
112674   (2017, 12, 18, 9, 40, 0, 0, 352, -1)  2693.85  1.513608e+09
112675   (2017, 12, 18, 9, 39, 0, 0, 352, -1)  2693.95  1.513608e+09
112676   (2017, 12, 18, 9, 36, 0, 0, 352, -1)  2693.74  1.513608e+09
112677   (2017, 12, 18, 9, 35, 0, 0, 352, -1)  2694.33  1.513608e+09
112678   (2017, 12, 18, 9, 33, 0, 0, 352, -1)  2692.97  1.513608e+09
112679   (2017, 12, 18, 9, 30, 0, 0, 352, -1)  2691.39  1.513607e+09
112680   (2017, 12, 18, 9, 30, 0, 0, 352, -1)  2691.67  1.513607e+09

[112681 rows x 3 columns]

In [11]:
##trump data
Trump_tweets = pd.read_csv("/Users/zhangmingshan/Desktop/2018 Autumn/Data Analytics/Project/twitter raw data/25073877_Donald J. Trump_tweets.csv",header=None)
Trump_time=Trump_tweets[[0,1]]
Trump_time[1]=Trump_time[1].apply(lambda x:time.strptime(x,"%Y-%m-%d %H:%M:%S"))
Trump_time=Trump_time.sort_values(1)
Trump_time.columns=['ID','Date']
Trump_time['Date_int']=Trump_time['Date'].apply(lambda x:time.mktime(x))
Trump_time

/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,ID,Date,Date_int
3194,946156544927977477,"(2017, 12, 27, 23, 11, 13, 2, 361, -1)",1.514434e+09
3193,946201376652169220,"(2017, 12, 28, 2, 9, 22, 3, 362, -1)",1.514445e+09
3192,946210723528572930,"(2017, 12, 28, 2, 46, 30, 3, 362, -1)",1.514447e+09
3191,946401576381505536,"(2017, 12, 28, 15, 24, 53, 3, 362, -1)",1.514493e+09
3190,946415026402988033,"(2017, 12, 28, 16, 18, 20, 3, 362, -1)",1.514496e+09
3189,946416486054285314,"(2017, 12, 28, 16, 24, 8, 3, 362, -1)",1.514496e+09
3188,946460939578167296,"(2017, 12, 28, 19, 20, 47, 3, 362, -1)",1.514507e+09
3187,946505155809247232,"(2017, 12, 28, 22, 16, 29, 3, 362, -1)",1.514517e+09
3186,946505312164630530,"(2017, 12, 28, 22, 17, 6, 3, 362, -1)",1.514517e+09
3185,946505439939911685,"(2017, 12, 28, 22, 17, 36, 3, 362, -1)",1.514517e+09
3184,946505517417095168,"(2017, 12, 28, 22, 17, 55, 3, 362, -1)",1.514517e+09
3183,946519720450252800,"(2017, 12, 28, 23, 14, 21, 3, 362, -1)",1.514521e+09
3182,946531657229701120,"(2017, 12, 29, 0, 1, 47, 4, 363, -1)",1.514524e+09
3181,946724075157651457,"(2017, 12, 29, 12, 46, 23, 4, 363, -1)",1.514570e+09
3180,946724543774765056,"(2017, 12, 29, 12, 48, 15, 4, 363, -1)",1.514570e+09
3179,946724719956578304,"(2017, 12, 29, 12, 48, 57, 4, 363, -1)",1.514570e+09
3178,946724984218669056,"(2017, 12, 29, 12, 50, 0, 4, 363, -1)",1.514570e+09
3177,946725057384108033,"(2017, 12, 29, 12, 50, 17, 4, 363, -1)",1.514570e+09
3176,946728546633953285,"(2017, 12, 29, 13, 4, 9, 4, 363, -1)",1.514571e+09
3175,946731576687235072,"(2017, 12, 29, 13, 16, 11, 4, 363, -1)",1.514571e+09
3174,946949708915924994,"(2017, 12, 30, 3, 42, 58, 5, 364, -1)",1.514623e+09
3173,947180713236934657,"(2017, 12, 30, 19, 0, 54, 5, 364, -1)",1.514678e+09
3172,947181212468203520,"(2017, 12, 30, 19, 2, 53, 5, 364, -1)",1.514679e+09
3171,947213895286054914,"(2017, 12, 30, 21, 12, 45, 5, 364, -1)",1.514686e+09
3170,947235015343202304,"(2017, 12, 30, 22, 36, 41, 5, 364, -1)",1.514691e+09
3169,947236393184628741,"(2017, 12, 30, 22, 42, 9, 5, 364, -1)",1.514692e+09
3168,947328044821336070,"(2017, 12, 31, 4, 46, 21, 6, 365, -1)",1.514714e+09
3167,947453152806297600,"(2017, 12, 31, 13, 3, 29, 6, 365, -1)",1.514743e+09
3166,947458942719979520,"(2017, 12, 31, 13, 26, 29, 6, 365, -1)",1.514745e+09
3165,947461470924820480,"(2017, 12, 31, 13, 36, 32, 6, 365, -1)",1.514745e+09
...,...,...,...
29,1067576713859817472,"(2018, 11, 28, 0, 31, 37, 2, 332, -1)",1.543383e+09
28,1067623816921272325,"(2018, 11, 28, 3, 38, 48, 2, 332, -1)",1.543394e+09
27,1067624656943935493,"(2018, 11, 28, 3, 42, 8, 2, 332, -1)",1.543395e+09
26,1067775022331236352,"(2018, 11, 28, 13, 39, 38, 2, 332, -1)",1.543430e+09
25,1067775191487533056,"(2018, 11, 28, 13, 40, 18, 2, 332, -1)",1.543430e+09
24,1067775315487924224,"(2018, 11, 28, 13, 40, 48, 2, 332, -1)",1.543430e+09
23,1067775425647136768,"(2018, 11, 28, 13, 41, 14, 2, 332, -1)",1.543430e+09
22,1067775488112902145,"(2018, 11, 28, 13, 41, 29, 2, 332, -1)",1.543430e+09
21,1067787571089031168,"(2018, 11, 28, 14, 29, 30, 2, 332, -1)",1.543433e+09
20,1067788027110526976,"(2018, 11, 28, 14, 31, 18, 2, 332, -1)",1.543433e+09
19,1067788286222057472,"(2018, 11, 28, 14, 32, 20, 2, 332, -1)",1.543434e+09
18,1067791101782831104,"(2018, 11, 28, 14, 43, 31, 2, 332, -1)",1.543434e+09
17,1067792610180456448,"(2018, 11, 28, 14, 49, 31, 2, 332, -1)",1.543435e+09
16,1067812811068383232,"(2018, 11, 28, 16, 9, 47, 2, 332, -1)",1.543439e+09
15,1067924142316494848,"(2018, 11, 28, 23, 32, 11, 2, 332, -1)",1.543466e+09
14,1068000629409398784,"(2018, 11, 29, 4, 36, 7, 3, 333, -1)",1.543484e+09
13,1068001369746022400,"(2018, 11, 29, 4, 39, 3, 3, 333, -1)",1.543484e+09
12,1068106609644183554,"(2018, 11, 29, 11, 37, 14, 3, 333, -1)",1.543509e+09
11,1068110895409233921,"(2018, 11, 29, 11, 54, 16, 3, 333, -1)",1.543510e+09
10,1068116413498429445,"(2018, 11, 29, 12, 16, 12, 3, 333, -1)",1.543512e+09
9,1068120444279103488,"(2018, 11, 29, 12, 32, 13, 3, 333, -1)",1.543513e+09
8,1068181367857397760,"(2018, 11, 29, 16, 34, 18, 3, 333, -1)",1.543527e+09
7,1068181371883909121,"(2018, 11, 29, 16, 34, 19, 3, 333, -1)",1.543527e+09
6,1068264306947411968,"(2018, 11, 29, 22, 3, 52, 3, 333, -1)",1.543547e+09
5,1068266944715878402,"(2018, 11, 29, 22, 14, 21, 3, 333, -1)",1.543548e+09
4,1068266949115695104,"(2018, 11, 29, 22, 14, 22, 3, 333, -1)",1.543548e+09
3,1068271965343862785,"(2018, 11, 29, 22, 34, 18, 3, 333, -1)",1.543549e+09
2,1068274204208812033,"(2018, 11, 29, 22, 43, 12, 3, 333, -1)",1.543549e+09
1,1068275406141149184,"(2018, 11, 29, 22, 47, 59, 3, 333, -1)",1.543550e+09
0,1068294634160287744,"(2018, 11, 30, 0, 4, 23, 4, 334, -1)",1.543554e+09

In [19]:
def find_index(x):
    a=list(np.where((df_close_new['Time_int']-60<x) & (x<60+df_close_new['Time_int'])))[0]
    if a.size ==0:
           return 'NaN'
    else:
           return a[:1]

In [20]:
##seach t1+interval price
def find_interval_later(t1,unit):
    interval=unit*60
    if find_index(t1+interval)=='NaN':
        if find_index(t1+interval+60)=='NaN':
            if find_index(t1+interval-60)=='NaN':
                return 'NaN'
            else:
                return (df_close_new['Close'].iloc[find_index(t1+interval-60)].values[0])
        else:
            return (df_close_new['Close'].iloc[find_index(t1+interval+60)].values[0])
    else:
        return (df_close_new['Close'].iloc[find_index(t1+interval)].values[0])

In [21]:
#find current_time
def find_tweet_price(t1):
    if find_index(t1)=='NaN':
        if find_index(t1-60)=='NaN':
            return 'NaN'
        else:
            return (df_close_new['Close'].iloc[find_index(t1-60)].values[0])
    else:
        return (df_close_new['Close'].iloc[find_index(t1)].values[0])

In [22]:
 Trump_time['tweet_price']=Trump_time['Date_int'].apply(lambda x:find_tweet_price(x))

/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  after removing the cwd from sys.path.

In [25]:
for unit in (1,3,5,10,15,30):
    Trump_time['_%s_interval_price'%unit]=Trump_time['Date_int'].apply(lambda x:find_interval_later(x,unit))

/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  after removing the cwd from sys.path.
/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """
/Users/zhangmingshan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [27]:
Trump_time

,ID,Date,Date_int,tweet_price,_1_interval_price,_3_interval_price,_5_interval_price,_10_interval_price,_15_interval_price,_30_interval_price
3194,946156544927977477,"(2017, 12, 27, 23, 11, 13, 2, 361, -1)",1.514434e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,946201376652169220,"(2017, 12, 28, 2, 9, 22, 3, 362, -1)",1.514445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,946210723528572930,"(2017, 12, 28, 2, 46, 30, 3, 362, -1)",1.514447e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,946401576381505536,"(2017, 12, 28, 15, 24, 53, 3, 362, -1)",1.514493e+09,2684.43,2684.43,2684.43,2684.53,2684.85,2685.28,2687.17
3190,946415026402988033,"(2017, 12, 28, 16, 18, 20, 3, 362, -1)",1.514496e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,946416486054285314,"(2017, 12, 28, 16, 24, 8, 3, 362, -1)",1.514496e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,946460939578167296,"(2017, 12, 28, 19, 20, 47, 3, 362, -1)",1.514507e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,946505155809247232,"(2017, 12, 28, 22, 16, 29, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,946505312164630530,"(2017, 12, 28, 22, 17, 6, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,946505439939911685,"(2017, 12, 28, 22, 17, 36, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,946505517417095168,"(2017, 12, 28, 22, 17, 55, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,946519720450252800,"(2017, 12, 28, 23, 14, 21, 3, 362, -1)",1.514521e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,946531657229701120,"(2017, 12, 29, 0, 1, 47, 4, 363, -1)",1.514524e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,946724075157651457,"(2017, 12, 29, 12, 46, 23, 4, 363, -1)",1.514570e+09,2684.46,2684.53,2684.15,2684.28,2684.32,2683.88,2684.17
3180,946724543774765056,"(2017, 12, 29, 12, 48, 15, 4, 363, -1)",1.514570e+09,2684.53,2684.15,2684.28,2684.27,2683.79,2683.88,2684.17
3179,946724719956578304,"(2017, 12, 29, 12, 48, 57, 4, 363, -1)",1.514570e+09,2684.53,2684.15,2684.28,2684.27,2683.79,2683.88,2684.17
3178,946724984218669056,"(2017, 12, 29, 12, 50, 0, 4, 363, -1)",1.514570e+09,2684.15,2684.28,2684.27,2684.32,2683.79,2683.99,2684.68
3177,946725057384108033,"(2017, 12, 29, 12, 50, 17, 4, 363, -1)",1.514570e+09,2684.28,2684.28,2684.27,2684.32,2683.79,2684.01,2684.55
3176,946728546633953285,"(2017, 12, 29, 13, 4, 9, 4, 363, -1)",1.514571e+09,2683.99,2684.01,2684.03,2683.96,2684.17,2684.68,2683.47
3175,946731576687235072,"(2017, 12, 29, 13, 16, 11, 4, 363, -1)",1.514571e+09,2684.17,2684.17,2684.68,2684.55,2684.34,2684.19,2683.05
3174,946949708915924994,"(2017, 12, 30, 3, 42, 58, 5, 364, -1)",1.514623e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,947180713236934657,"(2017, 12, 30, 19, 0, 54, 5, 364, -1)",1.514678e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,947181212468203520,"(2017, 12, 30, 19, 2, 53, 5, 364, -1)",1.514679e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,947213895286054914,"(2017, 12, 30, 21, 12, 45, 5, 364, -1)",1.514686e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,947235015343202304,"(2017, 12, 30, 22, 36, 41, 5, 364, -1)",1.514691e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3169,947236393184628741,"(2017, 12, 30, 22, 42, 9, 5, 364, -1)",1.514692e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3168,947328044821336070,"(2017, 12, 31, 4, 46, 21, 6, 365, -1)",1.514714e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3167,947453152806297600,"(2017, 12, 31, 13, 3, 29, 6, 365, -1)",1.514743e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,947458942719979520,"(2017, 12, 31, 13, 26, 29, 6, 365, -1)",1.514745e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3165,947461470924820480,"(2017, 12, 31, 13, 36, 32, 6, 365, -1)",1.514745e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
29,1067576713859817472,"(2018, 11, 28, 0, 31, 37, 2, 332, -1)",1.543383e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1067623816921272325,"(2018, 11, 28, 3, 38, 48, 2, 332, -1)",1.543394e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1067624656943935493,"(2018, 11, 28, 3, 42, 8, 2, 332, -1)",1.543395e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1067775022331236352,"(2018, 11, 28, 13, 39, 38, 2, 332, -1)",1.543430e+09,2732.19,2730.7,2732.87,2731.55,2731.01,2732.03,2733.87
25,1067775191487533056,"(2018, 11, 28, 13, 40, 18, 2, 332, -1)",1.543430e+09,2730.7,2732.79,2732.19,2733.6,2731.35,2732.16,2731.9
24,1067775315487924224,"(2018, 11, 28, 13, 40, 48, 2, 332, -1)",1.543430e+09,2730.7,2732.79,2732.19,2733.6,2731.35,2732.16,2731.9
23,1067775425647136768,"(2018, 11, 28, 13, 41, 14, 2, 332, -1)",1.543430e+09,2732.79,2732.87,2731.55,2732.83,2731.56,2731.88,2732.42
22,1067775488112902145,"(2018, 11, 28, 13, 41, 29, 2, 332, -1)",1.543430e+09,2732.79,2732.87,2731.55,2732.83,2731.56,2731.88,2732.42
21,1067787571089031168,"(2018, 11, 28, 14, 29, 30, 2, 332, -1)",1.543433e+09,2730.43,2731.11,2730.71,2729.54,2731.11,2731.65,2727.08
20,1067788027110526976,"(2018, 11, 28, 14, 31, 18, 2, 332, -1)",1.543433e+09,2731.15,2730.71,2729.54,2731.77,2730.79,2731.57,2724.98
19,1067788286222057472,"(2018, 11, 28, 14, 32, 20, 2, 332, -1)",1.543434e+09,2730.71,2730.43,2730.91,2730.99,2731.5,2731.21,2726.97
18,1067791101782831104,"(2018, 11, 28, 14, 43, 31, 2, 332, -1)",1.543434e+09,2731.11,2731.65,2731.57,2731.28,2729.71,2727.22,2729.92
17,1067792610180456448,"(2018, 11, 28, 14, 49, 31, 2, 332, -1)",1.543435e+09,2729.71,2730.03,2730.03,2727.22,2727.08,2727.17,2731.85
16,1067812811068383232,"(2018, 11, 28, 16, 9, 47, 2, 332, -1)",1.543439e+09,2743.78,2743.78,2743.78,2743.78,NaN,NaN,NaN
15,1067924142316494848,"(2018, 11, 28, 23, 32, 11, 2, 332, -1)",1.543466e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1068000629409398784,"(2018, 11, 29, 4, 36, 7, 3, 333, -1)",1.543484e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1068001369746022400,"(2018, 11, 29, 4, 39, 3, 3, 333, -1)",1.543484e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1068106609644183554,"(2018, 11, 29, 11, 37, 14, 3, 333, -1)",1.543509e+09,2734.31,2734.44,2734.79,2734.7,2733.57,2734.66,2733.7
11,1068110895409233921,"(2018, 11, 29, 11, 54, 16, 3, 333, -1)",1.543510e+09,2736.63,2735.53,2736.73,2735.29,2734.14,2733.85,2736.11
10,1068116413498429445,"(2018, 11, 29, 12, 16, 12, 3, 333, -1)",1.543512e+09,2735.29,2735.91,2735.61,2735.59,2736.34,2738.35,2738.7
9,1068120444279103488,"(2018, 11, 29, 12, 32, 13, 3, 333, -1)",1.543513e+09,2738.74,2738.12,2737.57,2737.57,2740.41,2740.15,2739.44
8,1068181367857397760,"(2018, 11, 29, 16, 34, 18, 3, 333, -1)",1.543527e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1068181371883909121,"(2018, 11, 29, 16, 34, 19, 3, 333, -1)",1.543527e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1068264306947411968,"(2018, 11, 29, 22, 3, 52, 3, 333, -1)",1.543547e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1068266944715878402,"(2018, 11, 29, 22, 14, 21, 3, 333, -1)",1.543548e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1068266949115695104,"(2018, 11, 29, 22, 14, 22, 3, 333, -1)",1.543548e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1068271965343862785,"(2018, 11, 29, 22, 34, 18, 3, 333, -1)",1.543549e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1068274204208812033,"(2018, 11, 29, 22, 43, 12, 3, 333, -1)",1.543549e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1068275406141149184,"(2018, 11, 29, 22, 47, 59, 3, 333, -1)",1.543550e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1068294634160287744,"(2018, 11, 30, 0, 4, 23, 4, 334, -1)",1.543554e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
def get_tag(x,unit):
    if x['tweet_price']=='NaN' or x['_%s_interval_price'%(unit)]=='NaN':
        return ('NaN')
    elif (x['_%s_interval_price'%(unit)])/(x['tweet_price']) >1:
        return ('1')
    elif (x['_%s_interval_price'%(unit)])/(x['tweet_price']) <1:
        return ('-1')
    elif (x['_%s_interval_price'%(unit)])/(x['tweet_price']) ==1:
        return ('0')
    else:
        return ('NaN')

In [29]:
for unit in (1,3,5,10,15,30):
    Trump_time['_%s_interval_tag'%unit]=Trump_time.apply(lambda x:get_tag(x,unit),axis=1)

In [30]:
Trump_time

,ID,Date,Date_int,tweet_price,_1_interval_price,_3_interval_price,_5_interval_price,_10_interval_price,_15_interval_price,_30_interval_price,_1_interval_tag,_3_interval_tag,_5_interval_tag,_10_interval_tag,_15_interval_tag,_30_interval_tag
3194,946156544927977477,"(2017, 12, 27, 23, 11, 13, 2, 361, -1)",1.514434e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,946201376652169220,"(2017, 12, 28, 2, 9, 22, 3, 362, -1)",1.514445e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,946210723528572930,"(2017, 12, 28, 2, 46, 30, 3, 362, -1)",1.514447e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,946401576381505536,"(2017, 12, 28, 15, 24, 53, 3, 362, -1)",1.514493e+09,2684.43,2684.43,2684.43,2684.53,2684.85,2685.28,2687.17,0,0,1,1,1,1
3190,946415026402988033,"(2017, 12, 28, 16, 18, 20, 3, 362, -1)",1.514496e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3189,946416486054285314,"(2017, 12, 28, 16, 24, 8, 3, 362, -1)",1.514496e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,946460939578167296,"(2017, 12, 28, 19, 20, 47, 3, 362, -1)",1.514507e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,946505155809247232,"(2017, 12, 28, 22, 16, 29, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,946505312164630530,"(2017, 12, 28, 22, 17, 6, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,946505439939911685,"(2017, 12, 28, 22, 17, 36, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,946505517417095168,"(2017, 12, 28, 22, 17, 55, 3, 362, -1)",1.514517e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,946519720450252800,"(2017, 12, 28, 23, 14, 21, 3, 362, -1)",1.514521e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,946531657229701120,"(2017, 12, 29, 0, 1, 47, 4, 363, -1)",1.514524e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,946724075157651457,"(2017, 12, 29, 12, 46, 23, 4, 363, -1)",1.514570e+09,2684.46,2684.53,2684.15,2684.28,2684.32,2683.88,2684.17,1,-1,-1,-1,-1,-1
3180,946724543774765056,"(2017, 12, 29, 12, 48, 15, 4, 363, -1)",1.514570e+09,2684.53,2684.15,2684.28,2684.27,2683.79,2683.88,2684.17,-1,-1,-1,-1,-1,-1
3179,946724719956578304,"(2017, 12, 29, 12, 48, 57, 4, 363, -1)",1.514570e+09,2684.53,2684.15,2684.28,2684.27,2683.79,2683.88,2684.17,-1,-1,-1,-1,-1,-1
3178,946724984218669056,"(2017, 12, 29, 12, 50, 0, 4, 363, -1)",1.514570e+09,2684.15,2684.28,2684.27,2684.32,2683.79,2683.99,2684.68,1,1,1,-1,-1,1
3177,946725057384108033,"(2017, 12, 29, 12, 50, 17, 4, 363, -1)",1.514570e+09,2684.28,2684.28,2684.27,2684.32,2683.79,2684.01,2684.55,0,-1,1,-1,-1,1
3176,946728546633953285,"(2017, 12, 29, 13, 4, 9, 4, 363, -1)",1.514571e+09,2683.99,2684.01,2684.03,2683.96,2684.17,2684.68,2683.47,1,1,-1,1,1,-1
3175,946731576687235072,"(2017, 12, 29, 13, 16, 11, 4, 363, -1)",1.514571e+09,2684.17,2684.17,2684.68,2684.55,2684.34,2684.19,2683.05,0,1,1,1,1,-1
3174,946949708915924994,"(2017, 12, 30, 3, 42, 58, 5, 364, -1)",1.514623e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,947180713236934657,"(2017, 12, 30, 19, 0, 54, 5, 364, -1)",1.514678e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,947181212468203520,"(2017, 12, 30, 19, 2, 53, 5, 364, -1)",1.514679e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,947213895286054914,"(2017, 12, 30, 21, 12, 45, 5, 364, -1)",1.514686e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,947235015343202304,"(2017, 12, 30, 22, 36, 41, 5, 364, -1)",1.514691e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3169,947236393184628741,"(2017, 12, 30, 22, 42, 9, 5, 364, -1)",1.514692e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3168,947328044821336070,"(2017, 12, 31, 4, 46, 21, 6, 365, -1)",1.514714e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3167,947453152806297600,"(2017, 12, 31, 13, 3, 29, 6, 365, -1)",1.514743e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,947458942719979520,"(2017, 12, 31, 13, 26, 29, 6, 365, -1)",1.514745e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3165,947461470924820480,"(2017, 12, 31, 13, 36, 32, 6, 365, -1)",1.514745e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,1067576713859817472,"(2018, 11, 28, 0, 31, 37, 2, 332, -1)",1.543383e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1067623816921272325,"(2018, 11, 28, 3, 38, 48, 2, 332, -1)",1.543394e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1067624656943935493,"(2018, 11, 28, 3, 42, 8, 2, 332, -1)",1.543395e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1067775022331236352,"(2018, 11, 28, 13, 39, 38, 2, 332, -1)",1.543430e+09,2732.19,2730.7,2732.87,2731.55,2731.01,2732.03,2733.87,-1,1,-1,-1,-1,1
25,1067775191487533056,"(2018, 11, 28, 13, 40, 18, 2, 332, -1)",1.543430e+09,2730.7,2732.79,2732.19,2733.6,2731.35,2732.16,2731.9,1,1,1,1,1,1
24,1067775315487924224,"(2018, 11, 28, 13, 40, 48, 2, 332, -1)",1.543430e+09,2730.7,2732.79,2732.19,2733.6,2731.35,2732.16,2731.9,1,1,1,1,1,1
23,1067775425647136768,"(2018, 11, 28, 13, 41, 14, 2, 332, -1)",1.543430e+09,2732.79,2732.87,2731.55,2732.83,2731.56,2731.88,2732.42,1,-1,1,-1,-1,-1
22,1067775488112902145,"(2018, 11, 28, 13, 41, 29, 2, 332, -1)",1.543430e+09,2732.79,2732.87,2731.55,2732.83,2731.56,2731.88,2732.42,1,-1,1,-1,-1,-1
21,1067787571089031168,"(2018, 11, 28, 14, 29, 30, 2, 332, -1)",1.543433e+09,2730.43,2731.11,2730.71,2729.54,2731.11,2731.65,2727.08,1,1,-1,1,1,-1
20,1067788027110526976,"(2018, 11, 28, 14, 31, 18, 2, 332, -1)",1.543433e+09,2731.15,2730.71,2729.54,2731.77,2730.79,2731.57,2724.98,-1,-1,1,-1,1,-1
19,1067788286222057472,"(2018, 11, 28, 14, 32, 20, 2, 332, -1)",1.543434e+09,2730.71,2730.43,2730.91,2730.99,2731.5,2731.21,2726.97,-1,1,1,1,1,-1
18,1067791101782831104,"(2018, 11, 28, 14, 43, 31, 2, 332, -1)",1.543434e+09,2731.11,2731.65,2731.57,2731.28,2729.71,2727.22,2729.92,1,1,1,-1,-1,-1
17,1067792610180456448,"(2018, 11, 28, 14, 49, 31, 2, 332, -1)",1.543435e+09,2729.71,2730.03,2730.03,2727.22,2727.08,2727.17,2731.85,1,1,-1,-1,-1,1
16,1067812811068383232,"(2018, 11, 28, 16, 9, 47, 2, 332, -1)",1.543439e+09,2743.78,2743.78,2743.78,2743.78,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
15,1067924142316494848,"(2018, 11, 28, 23, 32, 11, 2, 332, -1)",1.543466e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1068000629409398784,"(2018, 11, 29, 4, 36, 7, 3, 333, -1)",1.543484e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1068001369746022400,"(2018, 11, 29, 4, 39, 3, 3, 333, -1)",1.543484e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1068106609644183554,"(2018, 11, 29, 11, 37, 14, 3, 333, -1)",1.543509e+09,2734.31,2734.44,2734.79,2734.7,2733.57,2734.66,2733.7,1,1,1,-1,1,-1
11,1068110895409233921,"(2018, 11, 29, 11, 54, 16, 3, 333, -1)",1.543510e+09,2736.63,2735.53,2736.73,2735.29,2734.14,2733.85,2736.11,-1,1,-1,-1,-1,-1
10,1068116413498429445,"(2018, 11, 29, 12, 16, 12, 3, 333, -1)",1.543512e+09,2735.29,2735.91,2735.61,2735.59,2736.34,2738.35,2738.7,1,1,1,1,1,1
9,1068120444279103488,"(2018, 11, 29, 12, 32, 13, 3, 333, -1)",1.543513e+09,2738.74,2738.12,2737.57,2737.57,2740.41,2740.15,2739.44,-1,-1,-1,1,1,1
8,1068181367857397760,"(2018, 11, 29, 16, 34, 18, 3, 333, -1)",1.543527e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1068181371883909121,"(2018, 11, 29, 16, 34, 19, 3, 333, -1)",1.543527e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1068264306947411968,"(2018, 11, 29, 22, 3, 52, 3, 333, -1)",1.543547e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1068266944715878402,"(2018, 11, 29, 22, 14, 21, 3, 333, -1)",1.543548e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1068266949115695104,"(2018, 11, 29, 22, 14, 22, 3, 333, -1)",1.543548e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1068271965343862785,"(2018, 11, 29, 22, 34, 18, 3, 333, -1)",1.543549e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1068274204208812033,"(2018, 11, 29, 22, 43, 12, 3, 333, -1)",1.543549e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1068275406141149184,"(2018, 11, 29, 22, 47, 59, 3, 333, -1)",1.543550e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1068294634160287744,"(2018, 11, 30, 0, 4, 23, 4, 334, -1)",1.543554e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
Trump_time['ID_str']=Trump_time['ID'].apply(lambda x:(str(x)+'\t'))

In [ ]:
Trump_time[:5]

In [ ]:
 Trump_time.to_csv('Trump_Price_total.csv')

In [32]:
search='990559834020962304\t'
Trump_time[Trump_time['ID_str'].str.contains(search)]

,ID,Date,Date_int,tweet_price,_1_interval_price,_3_interval_price,_5_interval_price,_10_interval_price,_15_interval_price,_30_interval_price,_1_interval_tag,_3_interval_tag,_5_interval_tag,_10_interval_tag,_15_interval_tag,_30_interval_tag,ID_str
2383,990559834020962304,"(2018, 4, 29, 11, 54, 2, 6, 119, -1)",1.525017e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,990559834020962304\t

In [35]:
_1min=Trump_time.loc[2383:]

In [38]:
_1min_final=_1min[['ID','_1_interval_tag','ID_str']]

In [40]:
_1min_final.to_csv('/Users/zhangmingshan/Desktop/2018 Autumn/Data Analytics/Project/Final Presentation/New_data/_1min_new.csv')

In [41]:
for i in(3,5,10,15,30):
    final=Trump_time[['ID','_%s_interval_tag'%i,'ID_str']]
    final.to_csv('/Users/zhangmingshan/Desktop/2018 Autumn/Data Analytics/Project/Final Presentation/New_data/_%smin_new.csv'%i)

In [42]:
Trump_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3195 entries, 3194 to 0
Data columns (total 17 columns):
ID                    3195 non-null int64
Date                  3195 non-null object
Date_int              3195 non-null float64
tweet_price           3195 non-null object
_1_interval_price     3195 non-null object
_3_interval_price     3195 non-null object
_5_interval_price     3195 non-null object
_10_interval_price    3195 non-null object
_15_interval_price    3195 non-null object
_30_interval_price    3195 non-null object
_1_interval_tag       3195 non-null object
_3_interval_tag       3195 non-null object
_5_interval_tag       3195 non-null object
_10_interval_tag      3195 non-null object
_15_interval_tag      3195 non-null object
_30_interval_tag      3195 non-null object
ID_str                3195 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 609.3+ KB